@model IEnumerable<ControllRR.Application.Dto.BusinessCompanyDto>
@{
    ViewData["Title"] = "Lista de Operações";
}

<!-- <h2>Clientes</h2> -->

    <div class="mt-4">
         <a asp-action="New" class="btn btn-primary">Nova Entrada</a>
       
    </div>

     <div class="card mt-4">
        <div class="card-header">
         Lista de Operações
     </div>

           <div class="card-body">
            <div class="row">
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CnpjEmpresa)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.IscEstadual)
                
            </th>
             
          
            <th>
                Ações
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.CnpjEmpresa)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.IscEstadual)
                </td>
                
                
                <td>
                    <a class="btn btn-sm btn-success" href="~/Company/@item.Id/Details" onclick="displayBusyIndicator()"><span class="fa fa-eye"></span> Ver </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
